@import '../../../styles.scss';
.movie-card-container {
  &:hover {
    box-shadow: 0 0.225rem 0.225rem 0 rgb(0 0 0 / 10%), 0 1.25rem 1.25rem 0 rgb(0 0 0 / 10%), 0 .625rem .625rem 0 rgb(0 0 0 / 15%);
    cursor: pointer;
  }
  border: 1px solid $primary-color;
  margin-bottom: 20px;
  margin-right: 20px;
  min-width: 400px;
  min-height: 200px;

  .movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $primary-color;

    .movie-image-container {
      width: 100%;
      display:flex;
    }

    img{
      display: flex;
      flex: 1;
      flex-direction: row;
      height:400px;
      background-color: grey;
      text-align: center;
      color: white;
      object-fit: fill;
    }
  }
  .detail-container{
    height: 519px;
    max-height: 519px;
    padding: 20px;
    transition: all .5s;

  }
  .movie-card-container:hover {
     box-shadow: 4px 4px 4px $secondary-color .3s;
  }

  .movie-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width:300px;
    text-align: center;
  }
}
